#errorPopupCover {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #000000aa;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
}

#errorPopup {
	min-height: 25vh;
	max-width: 50vw;
	background-color: #368a36;
	border: 5px solid #ffbd17;
	border-radius: 1vh;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
}

#errorPopup #errorText {
	font-size: 3.2em;
	color: #ffe100;
	margin-block-start: 2.25vh;
	margin-block-end: 2.25vh;
}

#errorPopup #messageText {
	font-size: 2em;
	color: white;
	margin-bottom: 0;
}

#errorPopup #dismissButton {
	border-radius: 250000px;
	font-size: 2em;
	margin-top: 2vh;
	margin-bottom: 1.5vh;
	background: linear-gradient(45deg, orange, yellow, lightgreen);
	border: 2px solid black;
	padding: 5px 20px 5px 20px;
	margin-top: 0.8em;
}


#notificationBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99; /*Below errorPopupCover*/
	background-color: #ffbd17;
	text-align: center;
	font-size: 16px;
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  18% {
	  opacity: 1;
  }
  100% {
	opacity: 0;
  }
}

.blocklessAlertCover {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image: radial-gradient(transparent, #000000AA);
	z-index: 98;
	opacity: 0;
	pointer-events: none;
}

.blocklessAlertCover p {
	text-align: center;
	font-size: 3vw;
	margin:0;
	height: 100vh;
	line-height: 100vh;
}
