#roomManager {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: #368a36;
	text-align: center;
}

#roomManager #mahjongHeading, #roomManager #fourFriendsHeading {
	font-size: 7vh;
	color: #ffbd17;
	display: inline-block;
}

#roomManager #fourFriendsHeading {
	font-size: 5vh;
	vertical-align: top;
	margin-left: 1.5vw;
	font-style: italic;
	color: #ffe100;
}

#roomManager #roomIdInput, #roomManager #nicknameInput{
	height: 5vh;
	width: 32vw;
	min-width: 300px;
	font-size: 3vh;
	padding-left: 1vh;
}

#roomManager #nicknameInput {
	margin-top: 1vh;
}

#roomManager #joinOrCreateRoom {
	margin-top: 2vh;
}

#roomManager #joinRoom, #roomManager #createRoom{
	width: 16vw;
	min-width: 150px;
	height: 7vh;
	border-radius: 3.5vh;
	font-size: 2vh;
}

#roomManager #joinRoom {
	background: linear-gradient(45deg, #ffff39, #5bff5b, #609fff);
}

#roomManager #createRoom {
	margin-left: 1vw;
	background: linear-gradient(45deg, #FF6600, #FF77CC, #7777FF);
}

#roomManager #copyrightNotice {
	position: absolute;
	text-align: center;
	top: 96vh;
	width: 100vw;
	color: #ffbd17;
}

#roomManager #inRoomContainer {
	background-color: #00000011; /*Darken the background slightly. */
	min-height: 40vh;
}

#roomManager #currentRoom {
	font-size: 4vh;
	margin: 0;
}

#roomManager #playerCount {
	font-size: 3vh;
}

#roomManager .playerViewRow {
	text-align: left;
	padding-left: 2vw;
	padding-right: 2vw;
	background-color: #00000022; /*Darken even more.*/
	border: 2px solid #00000044;
}

#roomManager .playerViewNameSpan {
	font-size: 4vh;
	width: 70%;
	display: inline-block;
}

#roomManager .playerViewIdSpan {
	font-size: 2vh;
}

#roomManager .playerViewCard {
	width: 30%;
	display: inline-block;
	font-size: 3vh;
	text-align: center;
}

#roomManager .playerViewKickButton {
	background: linear-gradient(45deg, #f23f3f,#eeb972);
	border-radius: 10vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	cursor: pointer;
}

#roomManager #startGameButton, #roomManager #addBotButton  {
	width: 30vw;
	height: 5vh;
	font-size: 3vh;
	border-radius: 2.5vh;
	margin-left: 1vw;
	background: linear-gradient(45deg, #FF6600, #FF77CC, #7777FF);
}

#roomManager #closeRoomButton {
	width: 30vw;
	height: 5vh;
	font-size: 3vh;
	border-radius: 2.5vh;
	margin-left: 1vw;
	background: linear-gradient(45deg, orange, yellow, lightgreen);
}

#roomManager #leaveRoomButton {
	width: 30vw;
	height: 5vh;
	font-size: 3vh;
	border-radius: 2.5vh;
	background: linear-gradient(45deg, #ffff39, #5bff5b, #609fff);
}
