#roomManager {
	position: absolute;
	width: 100vw;
	min-height: 100vh;
	z-index: 10;
	background-color: #368a36;
	text-align: center;
}

#roomManager #mahjongHeading, #roomManager #fourFriendsHeading {
	font-size: 7vh;
	color: #ffbd17;
	display: inline-block;
}

#roomManager #fourFriendsHeading {
	font-size: 5vh;
	vertical-align: top;
	margin-left: 1.5vw;
	font-style: italic;
	color: #ffe100;
}

#roomManager #roomIdInput, #roomManager #nicknameInput{
	width: 32vw;
	min-width: 550px;
	max-width: 100vw;
	font-size: 2.5em;
	padding: 5px;
}

#roomManager #supportInfo {
	font-size: 1.5em;
}

#roomManager #nicknameInput {
	margin-top: 1vh;
}

#roomManager #joinOrCreateRoom {
	margin-top: 2vh;
}

#roomManager #joinRoom, #roomManager #createRoom{
	min-width: 150px;
	border-radius: 3.5vh;
	font-size: 2em;
	padding: 10px;
}

#roomManager #joinRoom {
	background: linear-gradient(45deg, #ffff39, #5bff5b, #609fff);
}

#roomManager #createRoom {
	margin-left: 1vw;
	background: linear-gradient(45deg, #FF6600, #FF77CC, #7777FF);
}

#roomManager #copyrightNotice {
	text-align: center;
	width: 100vw;
	color: #ffbd17;
}

#roomManager #inRoomContainer {
	background-color: #00000011; /*Darken the background slightly. */
	min-height: 40vh;
}

#roomManager #currentRoom {
	font-size: 2em;
	margin: 0;
}

#roomManager #playerCount {
	font-size: 1.5em;
}

#roomManager .playerViewRow {
	text-align: left;
	padding-left: 2vw;
	padding-right: 2vw;
	background-color: #00000022; /*Darken even more.*/
	border: 2px solid #00000044;
}

#roomManager .playerViewNameSpan {
	font-size: 2em;
	width: 40%;
	display: inline-block;
}

#roomManager .playerViewVoiceChoice {
	font-size: 1em;
	width: 30%;
	display: inline-block;
	text-align: center;
}

#roomManager .playerViewVoiceChoice select{
	font-size: 1em;
	max-width: 50%;
}

#roomManager .playerViewIdSpan {
	font-size: 2vh;
}

#roomManager .playerViewCard {
	width: 30%;
	display: inline-block;
	font-size: 1.5em;
	text-align: center;
}

#roomManager #roomSaveIdElem {
	text-align: center;
}

#roomManager .playerViewKickButton {
	background: linear-gradient(45deg, #f23f3f,#eeb972);
	border-radius: 10vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	cursor: pointer;
}

#roomManager #startGameButton, #roomManager #addBotButton  {
	font-size: 1.5em;
	border-radius: 250000px;
	margin-left: 1vw;
	padding: 10px;
	background: linear-gradient(45deg, #FF6600, #FF77CC, #7777FF);
}

#roomManager #closeRoomButton {
	font-size: 1.5em;
	border-radius: 250000px;
	margin-left: 1vw;
	padding: 10px;
	background: linear-gradient(45deg, orange, yellow, lightgreen);
}

#roomManager #leaveRoomButton {
	font-size: 1.5em;
	border-radius: 2.5vh;
	padding: 10px;
	background: linear-gradient(45deg, #ffff39, #5bff5b, #609fff);
}

#roomManager #tutorialLink {
	font-size: 2em;
	line-height: 60px;
}

#roomManager #joinRoomLinkElem {
	font-size: 1.5em;
}

#roomManager #screenRotationAlert {
	font-size: 2.5em;
	background-color: white;
}

#roomManager #externalAppStoresDiv * {
	height: 70px;
	max-width: 90%;
	margin: 16px;
	margin-right: 8px;
	margin-left: 8px;
}
