#roomManager {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: #368a36;
	text-align: center;
}

#roomManager #mahjongHeading, #roomManager #withFriendsHeading {
	font-size: 7vh;
	color: #ffbd17;
	display: inline-block;
}

#roomManager #withFriendsHeading {
	font-size: 5vh;
	vertical-align: top;
	margin-left: 1.5vw;
	color: #ffe100;
}

#roomManager #roomIdInput {
	height: 5vh;
	width: 30vw;
	font-size: 3vh;
	padding-left: 1vh;
}

#roomManager #joinOrCreateRoom {
	margin-top: 2vh;
}

#roomManager #joinRoom, #roomManager #createRoom{
	width: 15vw;
	height: 7vh;
	border-radius: 3.5vh;
	font-size: 2vh;
}

#roomManager #joinRoom {
	background: linear-gradient(45deg, #ffff39, #5bff5b, #609fff);
}

#roomManager #createRoom {
	margin-left: 1vw;
	background: linear-gradient(45deg, #FF6600, #FF77CC, #7777FF);
}

#roomManager #copyrightNotice {
	position: absolute;
	text-align: center;
	top: 96vh;
	width: 100vw;
	color: #ffbd17;
}
