#roomManager {
	position: absolute;
	width: 100vw;
	width: calc(var(--vw) * 100);
	min-height: 100vh;
	min-height: calc(var(--vh) * 100);
	z-index: 10;
	background-color: #368a36;
	text-align: center;
}

#roomManager #mahjongHeading, #roomManager #fourFriendsHeading {
	font-size: 7vh;
	font-size: calc(var(--vh) * 7);
	color: #ffbd17;
	display: inline-block;
}

#roomManager #fourFriendsHeading {
	font-size: 5vh;
	font-size: calc(var(--vh) * 5);
	vertical-align: top;
	margin-left: 1.5vw;
	margin-left: calc(var(--vw) * 1.5);
	font-style: italic;
	color: #ffe100;
}

#roomManager #roomIdInput, #roomManager #nicknameInput{
	width: 32vw;
	width: calc(var(--vw) * 32);
	min-width: 550px;
	max-width: 100vw;
	max-width: calc(var(--vw) * 100);
	font-size: 2.5em;
	padding: 5px;
}

#roomManager #supportInfo {
	font-size: 1.5em;
}

#roomManager #nicknameInput {
	margin-top: 1vh;
	margin-top: calc(var(--vh) * 1);
}

#roomManager #joinOrCreateRoom {
	margin-top: 2vh;
	margin-top: calc(var(--vh) * 2);
}

#roomManager #joinRoom, #roomManager #createRoom{
	min-width: 150px;
	border-radius: 3.5vh;
	border-radius: calc(var(--vh) * 3.5);
	font-size: 2em;
	padding: 10px;
}

#roomManager #joinRoom {
	background: linear-gradient(45deg, #ffff39, #5bff5b, #609fff);
}

#roomManager #createRoom {
	margin-left: 1vw;
	margin-left: calc(var(--vw) * 1);
	background: linear-gradient(45deg, #FF6600, #FF77CC, #7777FF);
}

#roomManager #copyrightNotice {
	text-align: center;
	width: 100vw;
	width: calc(var(--vw) * 100);
	color: #ffbd17;
}

#roomManager #inRoomContainer {
	background-color: #00000011; /*Darken the background slightly. */
	min-height: 40vh;
	min-height: calc(var(--vh) * 40);
}

#roomManager #currentRoom {
	font-size: 2em;
	margin: 0;
}

#roomManager #playerCount {
	font-size: 1.5em;
}

#roomManager .playerViewRow {
	text-align: left;
	padding-left: 2vw;
	padding-left: calc(var(--vw) * 2);
	padding-right: 2vw;
	padding-right: calc(var(--vw) * 2);
	background-color: #00000022; /*Darken even more.*/
	border: 2px solid #00000044;
}

#roomManager .playerViewNameSpan {
	font-size: 2em;
	width: 40%;
	display: inline-block;
}

#roomManager .playerViewVoiceChoice {
	font-size: 1em;
	width: 30%;
	display: inline-block;
	text-align: center;
}

#roomManager .playerViewVoiceChoice select{
	font-size: 1em;
	max-width: 50%;
}

#roomManager .playerViewIdSpan {
	font-size: 2vh;
	font-size: calc(var(--vh) * 2);
}

#roomManager .playerViewCard {
	width: 30%;
	display: inline-block;
	font-size: 1.5em;
	text-align: center;
}

#roomManager #roomSaveIdElem {
	text-align: center;
}

#roomManager .playerViewKickButton {
	background: linear-gradient(45deg, #f23f3f,#eeb972);
	border-radius: 10vh;
	border-radius: calc(var(--vh) * 10);
	padding-top: 1vh;
	padding-top: calc(var(--vh) * 1);
	padding-bottom: 1vh;
	padding-bottom: calc(var(--vh) * 1);
	cursor: pointer;
}

#roomManager #startGameButton, #roomManager #addBotButton  {
	font-size: 1.5em;
	border-radius: 250000px;
	margin-left: 1vw;
	margin-left: calc(var(--vw) * 1);
	padding: 10px;
	background: linear-gradient(45deg, #FF6600, #FF77CC, #7777FF);
}

#roomManager #closeRoomButton {
	font-size: 1.5em;
	border-radius: 250000px;
	margin-left: 1vw;
	margin-left: calc(var(--vw) * 1);
	padding: 10px;
	background: linear-gradient(45deg, orange, yellow, lightgreen);
}

#roomManager #leaveRoomButton {
	font-size: 1.5em;
	border-radius: 2.5vh;
	border-radius: calc(var(--vh) * 2.5);
	padding: 10px;
	background: linear-gradient(45deg, #ffff39, #5bff5b, #609fff);
}

#roomManager #tutorialLink {
	font-size: 2em;
	line-height: 60px;
}

#roomManager #documentationLink {
	font-size: 1.3em;
	line-height: 30px;
}

#roomManager #joinRoomLinkElem {
	font-size: 1.5em;
}

#roomManager #screenRotationAlert {
	font-size: 2.5em;
	background-color: white;
}

#roomManager #externalAppStoresDiv * {
	height: 70px;
	max-width: 90%;
	margin: 16px;
	margin-right: 8px;
	margin-left: 8px;
}

#topHand {
	position: absolute;
	top: 0;
	left: 10.52vh;
	left: calc(var(--vh) * 10.52);
	max-height: 12vh;
	max-height: calc(var(--vh) * 12);
	width: calc(100vw - 21.04vh);
	width: calc(calc(var(--vw) * 100) - calc(var(--vh) * 21.04));
	text-align: center; /*Center tiles horizontally. */
	background-color: #5a3e32;
}

#leftHand {
	position: absolute;
	left: 0;
	top: 0;
	max-width: 10.52vh;
	max-width: calc(var(--vh) * 10.52);
	width: 10.52vh;
	width: calc(var(--vh) * 10.52);
	height: 100vh;
	height: calc(var(--vh) * 100);
	background-color: #4c3329;
}

#rightHand {
	position: absolute;
	right: 0;
	top: 0;
	max-width:10.52vh;
	max-width:calc(var(--vh) * 10.52);
	width: 10.52vh;
	width: calc(var(--vh) * 10.52);
	height: 100vh;
	height: calc(var(--vh) * 100);
	background-color: #4c3329;
}

/*We would use bottom, however Safari treats bottom as the bottom of the viewport, and Safari has the viewport != visible area bug.
This means that something using bottom is off the page - hence we must use top. */
#gameBoard #userHand, #gameBoard #userHandExposed, #gameBoard #tilePlacemat {
	position: absolute;
	/*bottom: 0;*/
	top: 88vh;
	top: calc(var(--vh) * 88);
	left: 10.52vh;
	left: calc(var(--vh) * 10.52);
	height:12vh;
	height:calc(var(--vh) * 12);
	max-height: 12vh;
	max-height: calc(var(--vh) * 12);
	width: calc(100vw - 21.04vh);
	width: calc(calc(var(--vw) * 100) - calc(var(--vh) * 21.04));
	text-align: center; /*Center tiles horizontally. */
	background-color: #7d4b37;
}

#gameBoard #userHandExposed {
	/*bottom: 12vh;*/
	/*bottom: calc(var(--vh) * 12);*/
	top: 76vh;
	top: calc(var(--vh) * 76);
	background-color: #a04622;
	text-align: left;
}

#gameBoard #tilePlacemat {
	/*bottom: 24vh;*/
	/*bottom: calc(var(--vh) * 24);*/
	top: 64vh;
	top: calc(var(--vh) * 64);
	background-color: #FFFFFF00;
}


/*Containers used on left and right hands for vertical alignment. */
#gameBoard #rightHandContainer {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#gameBoard #leftHandContainer {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*TODO: If tiles aren't at max size and height is much greater than width, the tiles run into each other, as the negative bottoms are height based, but tiles are width bound. */
#gameBoard #topHand img {
	max-width: calc(calc(100vw - 19.04vh) / 14); /*Raised from 14 in order to allow for more tiles to fit. */
	max-width: calc(calc(calc(var(--vw) * 100) - calc(var(--vh) * 19.04)) / 14); /*Raised from 14 in order to allow for more tiles to fit. */
	margin-left: calc(calc(100vw - 19.04vh) / 17 / -10); /*Negative margin of 10%. Allows even more tiles to fit. */
	margin-left: calc(calc(calc(var(--vw) * 100) - calc(var(--vh) * 19.04)) / 17 / -10); /*Negative margin of 10%. Allows even more tiles to fit. */
	max-height: 12vh;
	max-height: calc(var(--vh) * 12);
	/*transform: rotate(180deg);*/ /*Rotate tiles 180 degrees away from the viewer (they would be across from this person)*/
}

/*Note: Currently leftHand and rightHand tiles are facing 180 degrees away from where they would in a real game, however this probably makes it easier to read the tiles. */
#gameBoard #leftHand img {
	transform: rotate(270deg) translate(-3vh, 0px);
	transform: rotate(270deg) translate(calc(var(--vh) * -3), 0px);
	max-width: 9.52vh;
	max-width: calc(var(--vh) * 9.52);
	max-height: 10.5vh;
	max-height: calc(var(--vh) * 10.5);
	padding-left: 2.38vh; /*Otherwise it is transformed partially off the screen. */
	padding-left: calc(var(--vh) * 2.38); /*Otherwise it is transformed partially off the screen. */
	margin-bottom: 0vh; /*It seems like the elements height does not reflect the fact that it has been transformed. Negative margin to remove some of this. */
	margin-bottom: calc(var(--vh) * 0); /*It seems like the elements height does not reflect the fact that it has been transformed. Negative margin to remove some of this. */
	margin-top: -4vh; /*Split margin between top and bottom, as to prevent margin causing page to scroll downwards. */
	margin-top: calc(var(--vh) * -4); /*Split margin between top and bottom, as to prevent margin causing page to scroll downwards. */
}

#gameBoard #rightHand img {
	transform: rotate(90deg) translate(.75vh, 0px);
	transform: rotate(90deg) translate(calc(var(--vh) * .75), 0px);
	max-width: 9.52vh;
	max-width: calc(var(--vh) * 9.52);
	max-height: 10.5vh;
	max-height: calc(var(--vh) * 10.5);
	margin-top: -4vh; /*It seems like the elements height does not reflect the fact that it has been transformed. Negative margin to remove some of this. */
	margin-top: calc(var(--vh) * -4); /*It seems like the elements height does not reflect the fact that it has been transformed. Negative margin to remove some of this. */
	margin-bottom: 0vh;
	margin-bottom: calc(var(--vh) * 0);
	padding-left: 2.77vh; /*Stop from travling off hand to left. */
	padding-left: calc(var(--vh) * 2.77); /*Stop from travling off hand to left. */
}

#gameBoard #userHand img, #gameBoard #userHandExposed img, #gameBoard #tilePlacemat img {
	max-width: calc(calc(100vw - 19.04vh) / 14);
	max-width: calc(calc(calc(var(--vw) * 100) - calc(var(--vh) * 19.04)) / 14);
	max-height: 12vh;
	max-height: calc(var(--vh) * 12);
}

#gameBoard #userHand img {
	margin-left: calc(calc(100vw - 19.04vh) / 17 / -10); /*Negative margin of 10%. Allows even more tiles to fit. */
	margin-left: calc(calc(calc(var(--vw) * 100) - calc(var(--vh) * 19.04)) / 17 / -10); /*Negative margin of 10%. Allows even more tiles to fit. */
}

/*Note: These animations are eating up a very significant amount of CPU/GPU power. We may want to stop using them. */
@keyframes handTurnPulse {
  0% {
    filter: brightness(1);
  }
  25% {
    filter: brightness(0.7);
  }
  50% {
	  filter: brightness(1);
  }
  75% {
	  filter: brightness(1.3);
  }
  100% {
	filter: brightness(1);
  }
}

.brightnessPulse {
	animation: handTurnPulse 3s linear infinite;
}

#gameBoard #tilePlacemat img {
	margin-right: 20px;
	border-radius: calc((100vw - 19.04vh) / 14 / 12); /*border radius 1/12th the width of a tile. TODO: This should be analyzed later to make sure it works right*/
	border-radius: calc((calc(var(--vw) * 100) - calc(var(--vh) * 19.04)) / 14 / 12); /*border radius 1/12th the width of a tile. TODO: This should be analyzed later to make sure it works right*/
}

@keyframes discardSlotPulse {
  0% {
    background-color: #3D003F99;
  }
  50% {
    background-color: #FF4136B0;
  }
  100% {
	background-color: #3D003F99;
  }
}

#gameBoard #tilePlacemat img.pending {
	animation: discardSlotPulse 3s infinite;
}

#gameBoard #compass {
	position: absolute;
	right: 9.52vh;
	right: calc(var(--vh) * 9.52);
	top: 12vh;
	top: calc(var(--vh) * 12);
	width: 12vw;
	width: calc(var(--vw) * 12);
	height: 12vw;
	height: calc(var(--vw) * 12);
	max-width: 12vh;
	max-width: calc(var(--vh) * 12);
	max-height: 12vh;
	max-height: calc(var(--vh) * 12);
	margin-right: 3vw;
	margin-right: calc(var(--vw) * 3);
	margin-top: 2vh;
	margin-top: calc(var(--vh) * 2);
}

#gameBoard #bottomNametag {
	position: absolute;
	margin: 0;
	min-width: 12vw;
	min-width: calc(var(--vw) * 12);
	text-align: center;
	right: calc(9.52vh + 1vw);
	right: calc(calc(var(--vh) * 9.52) + calc(var(--vw) * 1));
	top: 26vh;
	top: calc(var(--vh) * 26);
}

#gameBoard #leftNametag {
	position: absolute;
	margin: 0;
	text-align: center;
	min-width: 12vh;
	min-width: calc(var(--vh) * 12);
	font-size: 1.2vw;
	font-size: calc(var(--vw) * 1.2);
	transform: rotate(270deg);
	right: calc(9.52vh + 9vw);
	right: calc(calc(var(--vh) * 9.52) + calc(var(--vw) * 9));
	top: 19vh;
	top: calc(var(--vh) * 19);
}

#gameBoard #topNametag {
	position: absolute;
	margin: 0;
	min-width: 12vw;
	min-width: calc(var(--vw) * 12);
	text-align: center;
	right: calc(9.52vh + 1vw);
	right: calc(calc(var(--vh) * 9.52) + calc(var(--vw) * 1));
	top: 12vh;
	top: calc(var(--vh) * 12);
}

#gameBoard #rightNametag {
	position: absolute;
	margin: 0;
	text-align: center;
	min-width: 12vh;
	min-width: calc(var(--vh) * 12);
	font-size: 1.2vw;
	font-size: calc(var(--vw) * 1.2);
	transform: rotate(90deg);
	right: calc(4.52vh + 1vw);
	right: calc(calc(var(--vh) * 4.52) + calc(var(--vw) * 1));
	top: 19vh;
	top: calc(var(--vh) * 19);
}

/*The max number of tiles should be 91. Therefore, we will prepare for tiles 31 by 3. The last two spots will be filled by a count of the tiles in the wall.  */
#gameBoard #wall {
	position: absolute;
	left: 9.52vh;
	left: calc(var(--vh) * 9.52);
	top: 12vh;
	top: calc(var(--vh) * 12);
	margin-left: 1vw;
	margin-left: calc(var(--vw) * 1);
	margin-top: 1vh;
	margin-top: calc(var(--vh) * 1);
	max-width: 50vw;
	max-width: calc(var(--vw) * 50);
	max-height: 10vh;
	max-height: calc(var(--vh) * 10);
}

#gameBoard #wall * {
	max-width: calc(50vw / 31);
	max-width: calc(calc(var(--vw) * 50) / 31);
	max-height: 3.33vh;
	max-height: calc(var(--vh) * 3.33);
}

#gameBoard #wall p {
	display: inline-block;
	margin: 0;
	font-size: 2.5vh;
	font-size: calc(var(--vh) * 2.5);
	vertical-align: top;
	width: calc(50vw / 31);
	width: calc(calc(var(--vw) * 50) / 31);
	text-align: center;
}

#gameBoard #discardPile {
	position: absolute;
	left: 9.52vh;
	left: calc(var(--vh) * 9.52);
	top: 22vh;
	top: calc(var(--vh) * 22);
	margin-left: 3vw;
	margin-left: calc(var(--vw) * 3);
	margin-top: 8vh;
	margin-top: calc(var(--vh) * 8);
	max-width: 60vw;
	max-width: calc(var(--vw) * 60);
	max-height: 30vh;
	max-height: calc(var(--vh) * 30);
}

#gameBoard #discardPile * {
	max-width: calc(60vw / 23);
	max-width: calc(calc(var(--vw) * 60) / 23);
	max-height: 7.5vh;
	max-height: calc(var(--vh) * 7.5);
}

/*Since we have to use top instead of bottom due to viewport bugs, this can be floating above where it should be. */
#gameBoard #fullscreenControls {
	position: absolute;
	right: 10.52vh;
	right: calc(var(--vh) * 10.52);
	top: 71vh;
	top: calc(var(--vh) * 71);
	max-height: 5vh;
	max-height: calc(var(--vh) * 5);
	max-width: 5vw;
	max-width: calc(var(--vw) * 5);
	z-index: 1;
}

#gameBoard #revertStateButton {
	position: absolute;
	left: calc(9.52vh + 2vw);
	left: calc(calc(var(--vh) * 9.52) + calc(var(--vw) * 2));
	top: 64vh;
	top: calc(var(--vh) * 64);
	width: 10vw;
	width: calc(var(--vw) * 10);
	height: 5vh;
	height: calc(var(--vh) * 5);
	border-radius: 50vh;
	border-radius: calc(var(--vh) * 50);
	font-size: 1.6vh;
	font-size: calc(var(--vh) * 1.6);
}

#gameBoard #placeTilesButton {
	position: absolute;
	right: calc(9.52vh + 12vw);
	right: calc(calc(var(--vh) * 9.52) + calc(var(--vw) * 12));
	top: 64vh;
	top: calc(var(--vh) * 64);
	width: 10vw;
	width: calc(var(--vw) * 10);
	height: 5vh;
	height: calc(var(--vh) * 5);
	border-radius: 50vh;
	border-radius: calc(var(--vh) * 50);
	font-size: 1.6vh;
	font-size: calc(var(--vh) * 1.6);
}

#gameBoard #endGameButton {
	position: absolute;
	left: calc(9.52vh + 2vw);
	left: calc(calc(var(--vh) * 9.52) + calc(var(--vw) * 2));
	top: 70vh;
	top: calc(var(--vh) * 70);
	width: 10vw;
	width: calc(var(--vw) * 10);
	height: 5vh;
	height: calc(var(--vh) * 5);
	border-radius: 50vh;
	border-radius: calc(var(--vh) * 50);
	font-size: 1.6vh;
	font-size: calc(var(--vh) * 1.6);
}

#gameBoard #goMahjongButton {
	position: absolute;
	right: calc(9.52vh + 12vw);
	right: calc(calc(var(--vh) * 9.52) + calc(var(--vw) * 12));
	top: 70vh;
	top: calc(var(--vh) * 70);
	width: 10vw;
	width: calc(var(--vw) * 10);
	height: 5vh;
	height: calc(var(--vh) * 5);
	border-radius: 50vh;
	border-radius: calc(var(--vh) * 50);
	font-size: 1.6vh;
	font-size: calc(var(--vh) * 1.6);
}

#gameBoard #placeTilesButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

#gameBoard {
	position: absolute;
	width: 100vw;
	width: calc(var(--vw) * 100);
	height: 100vh;
	height: calc(var(--vh) * 100);
	background-color: #09790944;
}

#errorPopupCover {
	position: absolute;
	width: 100vw;
	width: calc(var(--vw) * 100);
	height: 100vh;
	height: calc(var(--vh) * 100);
	background-color: #000000aa;
	z-index: 100;
}

#errorPopup {
	position: absolute;
	top: 30vh;
	top: calc(var(--vh) * 30);
	left: 35vw;
	left: calc(var(--vw) * 35);
	width: 30vw;
	width: calc(var(--vw) * 30);
	min-height: 25vh;
	min-height: calc(var(--vh) * 25);
	background-color: #368a36;
	border: 5px solid #ffbd17;
	border-radius: 1vh;
	border-radius: calc(var(--vh) * 1);
	text-align: center;
}

#errorPopup #errorText {
	font-size: 4.5vh;
	font-size: calc(var(--vh) * 4.5);
	color: #ffe100;
	margin-block-start: 2.25vh;
	margin-block-start: calc(var(--vh) * 2.25);
	margin-block-end: 2.25vh;
	margin-block-end: calc(var(--vh) * 2.25);
}

#errorPopup #messageText {
	font-size: 2.5vh;
	font-size: calc(var(--vh) * 2.5);
	color: white;
}

#errorPopup #dismissButton {
	width: 10vw;
	width: calc(var(--vw) * 10);
	height: 5vh;
	height: calc(var(--vh) * 5);
	border-radius: 2.5vh;
	border-radius: calc(var(--vh) * 2.5);
	font-size: 2vh;
	font-size: calc(var(--vh) * 2);
	margin-top: 2vh;
	margin-top: calc(var(--vh) * 2);
	margin-bottom: 1.5vh;
	margin-bottom: calc(var(--vh) * 1.5);
	background: linear-gradient(45deg, orange, yellow, lightgreen);
	border: 2px solid black;
}


#notificationBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99; /*Below errorPopupCover*/
	background-color: #ffbd17;
	text-align: center;
	font-size: 16px;
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  18% {
	  opacity: 1;
  }
  100% {
	opacity: 0;
  }
}

.blocklessAlertCover {
	position: absolute;
	width: 100vw;
	width: calc(var(--vw) * 100);
	height: 100vh;
	height: calc(var(--vh) * 100);
	background-image: radial-gradient(transparent, #000000AA);
	z-index: 98;
	opacity: 0;
	pointer-events: none;
}

.blocklessAlertCover p {
	text-align: center;
	font-size: 3vw;
	font-size: calc(var(--vw) * 3);
	margin:0;
	height: 100vh;
	height: calc(var(--vh) * 100);
	line-height: 100vh;
	line-height: calc(var(--vh) * 100);
}





:root {
	/*
	While viewport relative units work fine on desktop, some mobile browsers will not show the entire viewport, due to the url bar.
	See https://nicolas-hoizey.com/articles/2015/02/18/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers/

	To counteract this, we will use a CSS variable that will be dynamically changed by JavaScript.
	In order to convert vh to use the relative variable, use the following two find and replace regexp. (note: make sure that every single declaration ends in a semicolon)

	Find and replace (-)?([\d.]+)vh with calc(var(--vh) * $1$2)
	*/
	--vh: 1vh;
	--vw: 1vh;

	/*Complex math doesn't work in CSS, as one of two sides in division and multiplication
	must be a number - dividing 100vw by 500px to get a ratio is not allowed
	must be a number - dividing calc(var(--vw) * 100) by 500px to get a ratio is not allowed

	Therefore, we need to make these enviroment variables accessible to JavaScript*/
	--sat: env(safe-area-inset-top);
	--sar: env(safe-area-inset-right);
	--sab: env(safe-area-inset-bottom);
	--sal: env(safe-area-inset-left);
}

html, body {
	width: 100vw;
	width: calc(var(--vw) * 100);
	height: 100vh;
	height: calc(var(--vh) * 100);
	margin: 0;
	padding: 0;
}

html {
	background-color: black;
}

body {
	/*The notch isn't very large, so when we have a notch, we'll scale the entire screen. */
	/*We need to translate slightly further, as the scale reduces the size from both sides evenly. */
	/*Translate is processed AFTER scale, so we must multiply the translation to counteract*/
	transform: scaleX(calc(1 - var(--shiftPercentage)))
		translateX(calc(50vw * var(--shiftPercentage) / (1 - var(--shiftPercentage))));
		translateX(calc(calc(var(--vw) * 50) * var(--shiftPercentage) / (1 - var(--shiftPercentage))));
}
